<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WELCOME!</title>
  </head>
  <body>
    <h1>Welcome to 99Cats, <%= @user.username %></h1>
    <p>
      You have signed up for 99Cats and can now rent cats!
      <br>
    </p>
  </body>
</html>
